<nav class="pagination" role="pagination">
    {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
            <a class="newer-posts" href="/" title="Página Anterior">&laquo; Página Anterior</a>
        {% else %}
            <a class="newer-posts" href="/page{{ paginator.previous_page }}/" title="Previous Page">&laquo; Newer Posts</a>
      {% endif %}
    {% endif %}
    <span class="page-number"> Página {{paginator.page}} de {{paginator.total_pages}} </span>
    {% if paginator.next_page %} 
        <a class="older-posts" href="/page{{ paginator.next_page }}/" title="Próxima Página">Próxima Página &raquo;</a>
    {% endif %} 
</nav>