<section class="share">
    <h6>Compartilhe</h6>
     <div class="icons-centralize">
        <a class="fa fa-linkedin" href="https://www.linkedin.com/shareArticle?url={{site.domain_name}}{{page.url}}" target="_blank">
            <span class="hidden">Linkedin</span>
        </a>
        <a class="fa fa-twitter" href="http://twitter.com/share?text={{page.title}}&amp;url={{site.domain_name}}{{ page.url }}" target="_blank">
            <span class="hidden">Twitter</span>
        </a>
        <a class="fa fa-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{site.domain_name}}{{page.url}}" target="_blank">
            <span class="hidden">Facebook</span>
        </a> 
    </div>    
</section>
 